.App {
  text-align: center;
}
.menu {
  padding: 3rem;
  background-color: #85f4f4;
}
 ul li {
  display:block;
  float:left;
  padding:0 10px;
}
 .products {
     text-align: center;
 }
 .products h1 {
     color: #202b39;
 }
 .product {
     padding: 2rem;
 }
 .product p {
     font-weight: lighter;
 }
 button {
     padding: 0.5rem;
     border-radius: 0.4rem;
     background-color: #85f4f4;
 }
 hr {
     width: 50%;
     margin-top: 2rem;
 }
 h2 {
     text-align: center;
     padding: 3rem;
     font-weight: lighter;
 }